{% extends 'registration/registration_base.html' %}
{% block title %}Parolni tiklash | IT Creative LMS{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div id="login">
  <h3 class="login-title">Kirish parolini tiklash</h3>

  <form action="" method="POST" class="form-box">{% csrf_token %}
    <div class="container">
      <!-- {{ form|crispy }} -->
    <div class="form-group">
      <i class="fas fa-envelope"></i>Elektron pochta {{ form.email }}
      <span class="danger">{{ form.email.errors }}</span>
    </div>
    </div>
    <button type="submit" class="btn btn-primary"><small>Tiklash uchun so'rov</small></button>
  </form>
</div>
{% endblock content %}
