/* Masalan, navbar rangini o‘zgartirish */
.navbar {
    background-color: #10a200 !important;
}

.sidebar {
    background-color: #393e46 !important;
}

.navbar-brand {
    color: #ffd369 !important;
}
