{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Bosh saxifa</a> <i>&rsaquo;</i> Parolni o'zgartirish</div>
<br>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i> {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i> {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <p class="form-title"><i class="fas fa-lock"></i> Parolni o'zgartirish</p><br>
            <div class="container">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <center>
                        <input class="btn btn-outline-primary" type="submit" value="Parol o'zgarishini tasdiqlash">
                    </center><br>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
